/* First I will reset the style pre applied on the website */
* {
  padding: 0px;
  margin: 0px;
  outline: none;
  border: none;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  background-image: url(back.jpg);
  
}

.wrapper {
  width: 300px;
  height: 350px;
  margin: 70px auto;
  border: solid 8px #40474d;
  border-radius: 20px;
  background: whitesmoke;
}

header {
  width: 100%;
  border-radius: 10px 10px 2px 2px;
  height: 50px;
  text-align: center;
  /* color: gr; */
  background: linear-gradient(#4c626f, #879bb3);
}

footer {
  width: 100%;
  height: 20px;
  border-radius: 0 0 10px 10px;
  
}

input[type="checkbox"]:checked + label{
    text-decoration: line-through;
    opacity: 0.5;
}

.list{
    list-style: none;
    /* To get rid of numbering or BULLETS */

}
.list li{
    padding: 10px;
    /* width: 10%; */
}
label{
    padding: 10px;
    /* width: 100%; */

    
}